NETTEDX_APP_NAME=NettedX API
NETTEDX_APP_ENV=dev
NETTEDX_DEBUG=true
NETTEDX_API_V1_PREFIX=/api/v1

# JWT
NETTEDX_JWT_SECRET=change-me
NETTEDX_JWT_ALGORITHM=HS256
NETTEDX_JWT_ACCESS_TTL_SECONDS=300
NETTEDX_JWT_REFRESH_TTL_SECONDS=604800
