NETTEDX_APP_NAME=NettedX API
NETTEDX_APP_ENV=dev
NETTEDX_DEBUG=true
NETTEDX_API_V1_PREFIX=/v1

# JWT
NETTEDX_JWT_SECRET=replace-with-a-random-secret-at-least-32-characters
NETTEDX_JWT_ALGORITHM=HS256
NETTEDX_JWT_ACCESS_TTL_SECONDS=300
NETTEDX_JWT_REFRESH_TTL_SECONDS=604800

# SIWE
NETTEDX_SIWE_DOMAIN=localhost:5173
NETTEDX_SIWE_URI=http://localhost:5173
NETTEDX_SIWE_STATEMENT=Sign in to NettedX.
NETTEDX_SIWE_ALLOWED_CHAIN_IDS=97   #BNB测试网
NETTEDX_SIWE_NONCE_TTL_SECONDS=300  #nonce有效时间为5min


# Database
NETTEDX_DB_HOST=127.0.0.1
NETTEDX_DB_PORT=3306
NETTEDX_DB_USER=nettedx
NETTEDX_DB_PASSWORD=
NETTEDX_DB_NAME=nettedx
NETTEDX_DB_ECHO=false